a {
	font-size: 1rem;
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
  color: "#081c15";
}

a:hover {
	background-size: 100% .1em;
}

/* Variations */
a.left {
	background-position: left bottom;
}

boldText {
	font-weight: 800;
	font-size: 24;
	color: "#081c15";
	line-height: "1.3em";
	fontFamily: "Poppins";
}

.bg-player video {
	position: absolute;
	transform: none;
	object-fit: cover;
	margin-top: 0;
  top: 0;
  left: 0;
	z-index: 0;
  filter: blur(20px);
}

.react-player {
		margin-top: 0;
}

.react-player video {
    position: relative;
    left: 0;
    top: 0;
		z-index: 1;
		margin-top: 0;
}
