/* @import 'react-modal-video/scss/modal-video.scss'; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins' !important;
}

h1, h2, h3, h4, h5, h6, span, div, p {
    font-family: 'Poppins' !important;
    letter-spacing: 0.1px;
}

a {
	font-size: 1rem;
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
  color: "#081c15";
}

a:hover {
	background-size: 100% .1em;
}

/* Variations */
a.left {
	background-position: left bottom;
}

.boldText {
	font-weight: 800;
	font-size: 24;
	color: "#081c15";
	line-height: "1.3em";
	font-family: "Poppins";
}

#video-player {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
}

.perfect-height-wrapper {
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
}

.product-layer {
	transition: all 0.2s ease-in;
}

.product-layer:hover {
	background-color: transparent !important;
}

.quantity-label {
	opacity: 0;
	transition: all 0.2s ease-in;
}

.product-layer:hover > .quantity-label {
	opacity: 1;
}

.product-layer:hover > .product-bottom-info {
	display: none
}

.product-layer:hover > .product-order-button {
	display: flex !important;
}