/* @import 'react-modal-video/scss/modal-video.scss'; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins' !important;
}

h1, h2, h3, h4, h5, h6, span, div, p {
    font-family: 'Poppins' !important;
    letter-spacing: 0.1px;
}

a {
	font-size: 1rem;
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
  color: "#081c15";
}

a:hover {
	background-size: 100% .1em;
}

/* Variations */
a.left {
	background-position: left bottom;
}

.boldText {
	font-weight: 800;
	font-size: 24;
	color: "#081c15";
	line-height: "1.3em";
	font-family: "Poppins";
}

.bg-player video {
	position: absolute;
	transform: none;
	object-fit: cover;
	margin-top: 0;
  top: 0;
  left: 0;
	z-index: 0;
  filter: blur(20px);
}

.react-player {
		margin-top: 0;
}

.react-player video {
    position: relative;
    left: 0;
    top: 0;
		z-index: 1;
		margin-top: 0;
}

.suggestion-item, .suggestion-item--active {
	padding: 8px 10px
}

.header-wrap {
    transition: all 0.2s ease-in;
}

.header-wrap.with-light-bg {
    /* background-color: #F8F8F8; */
	background-color: rgba(255,255,255,0.65);
	/* filter: blur(5px); */
	backdrop-filter: blur(5px) ;

}


  #video-player {
        min-width: 100%;
        max-width: 100%;
    }
